{% extends 'base.html' %}
{% load static %}
{% block title %} Rogue Media | Dashboard {% endblock %}

{% block additional_stylesheets %}

{% endblock %}

{% block body %}
<h5>
    <div class="row">
        <div class="col-lg-6">
            <canvas id="instagramPie" width="400" height="400"></canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="twitterPie" width="400" height="400"></canvas>
        </div>
    </div>
</h5>

{{ users_with_insta|json_script:"insta-users" }}
{{ non_insta_users|json_script:"non-insta-users" }}
{{ users_with_twitter|json_script:"twitter-users" }}
{{ non_twitter_users|json_script:"non-twitter-users" }}
{{ total_users|json_script:"total-users"}}
{{ num_users_since|json_script:"num-users-since"}}

{% endblock %}

{% block scripts %}

<script>

// Extracting data from django script tags
const users_with_insta = JSON.parse(document.getElementById('insta-users').textContent);
const non_insta_users = JSON.parse(document.getElementById('non-insta-users').textContent);
const users_with_twitter = JSON.parse(document.getElementById('twitter-users').textContent);
const non_twitter_users = JSON.parse(document.getElementById('non-twitter-users').textContent);
const total_users = JSON.parse(document.getElementById('total-users').textContent);
const num_users_since = JSON.parse(document.getElementById('num-users-since').textContent);

// For testing & debugging - Printing to console
console.log(users_with_insta);
console.log(non_insta_users);
console.log(users_with_twitter);
console.log(non_twitter_users);
console.log(total_users);
console.log(num_users_since);

// Calculate percentage for Instagram users
var instaP = Math.round(users_with_insta*100/total_users);
var non_instaP = Math.round(non_insta_users*100/total_users);

// Calculate percentage for Twitter users
var twitterP = Math.round(users_with_twitter*100/total_users);
var non_twitterP = Math.round(non_twitter_users*100/total_users);

// Config for Charts
var insta_config = {
    type: 'pie',
    data: {
        labels: ['Instagram User '+instaP+'%', 'Non-Instagram User '+non_instaP+'%'],
        datasets: [{
            label: 'Connected Instagram Accounts',
            data: [instaP, non_instaP],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
}

var twitter_config = {
    type: 'pie',
    data: {
        labels: ['Twitter User '+twitterP+'%', 'Non-Twitter User '+non_twitterP+'%'],
        datasets: [{
            label: 'Connected Twitter Accounts',
            data: [twitterP, non_twitterP],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
}

// Pie Chart for Instagram Accounts
const ctxInsta = document.getElementById('instagramPie').getContext('2d');
const instagramPie = new Chart(ctxInsta, insta_config);

// Pie Chart for Twitter Accounts
const ctxTwitter = document.getElementById('twitterPie').getContext('2d');
const twitterPie = new Chart(ctxTwitter, twitter_config);

</script>
{% endblock %}
